body {background-color: lightblue}
.container {grid-template-columns: 60px 6Opx 60px;
            grid-template-rows: 60px 60px;
            grid-column-gap: 10px;}
.item-a {grid-column: 1/2;
        grid-row: 1/2;
        background-color: royalblue}
.item-b {grid-column: 1/2;
        grid-row: 2/3;
        background-color: royalblue}
.item-c {grid-column: 1/2;
        grid-row: 3/4;
        background-color: royalblue}
.item-d {grid-column: 1/2;
        grid-row: 4/5;
        background-color: royalblue}
.item-e {grid-column: 1/2;
        grid-row: 5/6;
        background-color: royalblue}
.item-f {grid-column: 1/2;
        grid-row: 6/7;
        background-color: royalblue}
.item-g {grid-column: 2/4;
        grid-row: 1/2}
.item-h {grid-column: 2/4;
        grid-row: 2/3}
.item-i {grid-column: 2/4;
        grid-row: 3/4}
.item-j {grid-column: 2/4;
        grid-row: 4/5}
.item-k {grid-column: 2/3;
        grid-row: }

        